/* SECTION Global */

/* ANCHOR font */
@import url('https://fonts.googleapis.com/css2?family=B612:wght@400;700&display=swap');







/* ANCHOR global */
body {
    box-sizing: border-box;
    color: rgb(2, 0, 32);
    margin: 0;
    text-align: center;
}

h1 {
    font-family: 'B612', sans-serif;
    font-size: 4vw;
    margin: auto;
    margin-top: 0;
    width: auto;
}

h2 {
    display: inline-block;
    font-family: 'B612', sans-serif;
    font-size: 3vw;
    text-align: left;
    width: 50%;
}

hr {
    background-color: gray;
    background-image: -webkit-gradient(linear, left top, right top, from(white), color-stop(rgb(0, 0, 0)), to(white));
    background-image: linear-gradient(to right, white, rgb(0, 0, 0), white);
    border-width: 0;
    color: gray;
    height: 0.4vw;
}

a {
    color: darkslategrey;
    text-decoration: none;
}

h6 {
    margin: auto;
}







/* ANCHOR heading images */
.photos1 {
    margin: auto;
    padding-bottom: 0;
    width: 100%;
    display: block;
}







/* ANCHOR navigation */
ul {
    display: flex;
    background-color: #333;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

li {
    float: left;
    display: block;
}

li a {
    color: white;
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 2vw;
    padding: 0.4vw 0;
    margin: 1.1vw 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
}

li a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #e5a2ff;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}


li a:hover:before,
li a:focus:before,
li a:active:before {
    left: 0;
    right: 0;
}

li a:hover {
    color: #e5a2ff;
}






/* ANCHOR  footer */
footer {
    background-color: grey;
    bottom: 0;
    color: white;
    font-size: 1.7vw;
    text-align: center;
    font-family: cursive;
    width: 100%;
}

.header-footer {
    margin: auto;
    padding-bottom: 1px;
    text-align: center;
    font-family: cursive;
    font-size: 5vw;
}

.img {
    width: 5%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1.5%;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.img:hover,
.img:focus,
.img:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.paragraph {
    display: inline-block;
    padding: 0 2% 0 2%;
    margin-top: 0;
    margin-bottom: 1%;
    border-right: 2px solid white;
}

.paragraph a {
    color: white;
}

.not-border {
    border-right: 0px;
}

.paragraph a:hover {
    color: black;
    text-decoration: underline;
}

/* !SECTION */







/* SECTION Main pages */

/* ANCHOR frontpage */
.container1 {
    position: relative;
}

.border {
    border-bottom: solid 5px black;
    width: 100%;
    position: relative;
}

.absolute {
    color: darkslategray;
    display: inline-block;
    font-family: 'B612', sans-serif;
    font-size: 5vw;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: underline;
}

.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 0.5vw solid black;
    border-radius: 1vw;
    color: dimgray;
    font-family: 'B612', sans-serif;
    font-size: 5vw;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    position: absolute;
    right: 0;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.button:hover,
.button:focus,
.button:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.button:hover {
    background-color: lightgrey;
    text-decoration: underline;
}

.background-photos {
    -webkit-filter: blur(6px);
    filter: blur(6px);
    margin: 0;
    opacity: 0.6;
    width: 100%;
}







/* ANCHOR  frontnews */
.slider {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-points-x: repeat(53%);
    scroll-snap-type: mandatory;
    scroll-snap-type: x mandatory;
    text-align: center;
    width: 53%;
}

.class1>h2 {
    text-align: center;
    width: 90%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

.class1 {
    background-color: #d4d9ff;
    border: 0.3vw solid black;
    display: inline-block;
    flex-shrink: 0;
    font-family: 'B612', sans-serif;
    font-size: 1.23vw;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    scroll-snap-align: start;
    width: 99%;
}

.news {
    border: 1px solid black;
    border-radius: 2vw;
    float: left;
    margin-bottom: 3%;
    margin-left: 3%;
    margin-top: 1%;
    width: 45%;
}

.news-text {
    float: right;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1%;
    margin-bottom: 3%;
    text-align: left;
    width: 45%;
}

.button1 {
    text-align: center;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    border: 0.2vw solid black;
    border-radius: 0;
    border-radius: 1vw;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    color: dimgray;
    display: inline-block;
    font-family: 'B612', sans-serif;
    font-size: 2.8vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    text-decoration: none;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
}

.button1:hover {
    -webkit-transform: scale(1.1);
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 1);
    transform: scale(1.1);
}

.slider::-webkit-scrollbar {
    height: 3vw;
}

.slider::-webkit-scrollbar-track {
    background-color: grey;
}

.slider::-webkit-scrollbar-thumb {
    background-color: lightgray;
}

.slider::-webkit-scrollbar-thumb:hover {
    background: #c2c2c2;
}

.attribute {
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 53%;
}







/* ANCHOR  dots */
.link {
    background-color: black;
    border: 0.3vw solid black;
    border-radius: 100%;
    color: whitesmoke;
    display: inline-block;
    font-size: 1.8vw;
    font-weight: 900;
    height: 2vw;
    line-height: 2vw;
    margin: 1.5%;
    text-align: center;
    width: 2vw;

}

.link:hover {
    background-color: wheat;
    color: black;
}







/* ANCHOR videos */
.slideshow-container1 {
    margin: auto;
    margin-bottom: 100px;
    margin-top: 10px;
    position: relative;
    width: 900px;
}

iframe {
    margin-bottom: 30px;
    margin-top: 30px;
}

.space {
    color: #080029;
    font-size: 150%;
    margin-left: 10%;
    margin-top: 0;
    text-align: left;
    width: 80%;
}

.card1 {
    border: 30px solid;
    border-image: url(images/border.png) 30 round;
    display: none;
    font-family: 'B612', sans-serif;
    margin: auto;
    margin-top: 30px;
    padding-bottom: 1px;
    padding-top: 1px;
    width: 650px;
}







/* ANCHOR transition button */
.prev,
.next {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transition: 0.3s ease;
    -webkit-user-select: none;
    background-color: black;
    border: 25px solid black;
    color: white;
    cursor: pointer;
    font-size: 2.5vw;
    font-weight: bold;
    height: auto;
    position: absolute;
    top: 40%;
    transition: 0.3s ease;
    user-select: none;
}

.prev {
    left: 0;
    text-align: left;
}

.next {
    right: 0;
    text-align: right;
}

.prev:hover,
.next:hover {
    background-color: gray;
    border-color: grey;
}







/* ANCHOR photos */
.container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: space-around;
    background-color: #dad6d6;
    border: 1px solid black;
    margin-top: 4%;
    margin-bottom: 4%;
}

.container>div {
    display: inline-block;
    flex: 1;
    min-width: 200px;
    margin: 2% 0;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
}

.sub-container {
    position: relative;
    margin-top: 4%;
    border: 2px solid black;
}

.sub-container>img {
    width: 100%;
    display: block;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #000000ab;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.sub-container:hover .overlay {
    bottom: 0;
    height: 100%;
}

.text {
    color: rgb(255, 255, 255);
    font-size: 2vw;
    position: absolute;
    line-height: 1.1;
    width: 100%;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 1;
    text-shadow: 1px 1px 1px #000;
}






/* ANCHOR About us*/
.sub-container1,
.sub-container2,
.sub-container3,
.sub-container4 {
    padding-top: 5%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.sub-container2,
.sub-container4 {
    flex-direction: row-reverse;
}

.sub-container4 {
    margin-bottom: 5%;
}

.our-work {
    width: 40%;
    background-color: gainsboro;
    display: flex;
    text-align: left;
    font-size: 2vw;
    flex-direction: column;
}

.our-work>h2 {
    text-decoration: underline;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    text-align: center;
}

.our-work>p {
    margin-left: 4%;
    margin-right: 4%;
}

.sub-container1>.our-work {
    margin-right: 3%;
}

.sub-container2>.our-work {
    margin-left: 3%;
}

.sub-container3>.our-work {
    margin-right: 3%;
}

.sub-container4>.our-work {
    margin-left: 3%;
}

.img1 {
    width: 50%;
}

.sub-container1>.img1 {
    margin-left: 3%;
}

.sub-container2>.img1 {
    margin-right: 3%;
}

.sub-container3>.img1 {
    margin-left: 3%;
}

.sub-container4>.img1 {
    margin-right: 3%;
}

.img1>img {
    width: 100%;
}







/* ANCHOR  newspage */
.div1 {
    display: inline-block;
    font-size: 1.75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    text-align: left;
    width: 60%;
}

.header2 {
    display: block;
    float: none;
    margin-left: 0;
    width: 100%;
}

/* !SECTION */